<div class="modal fade" id="UploadModal" tabindex="-1" role="dialog" style="display: none;min-width: 1200px;" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="min-width: 1200px;right: 20%;" >
      <div class="modal-header">
        <h4 class="title" id="largeModalLabel">Pieces jointe Pour Patient (N° {{patient}} )</h4>
        <button type="button" class="btn btn-default btn-close" title="Close detailed preview" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
      </div>

        <div class="modal-body">

              <div class="file-loading">
                <input id="file" name="files" type="file" multiple>
              </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect right-align" data-dismiss="modal">Annuler</button>
        </div>
    </div>
  </div>
</div>
