:host{
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

html, body{
  margin:0px;
  padding:0px;
  height:100%;
  overflow:hidden;
}

/*Scroll hide*/
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}
.highlighted_timespan {
  transition: background-color 400ms;
  -moz-transition: background-color 400ms;
  -webkit-transition: background-color 400ms;
  -o-transition: background-color 400ms;
  opacity:0.4;
  filter:alpha(opacity=40);
}
.highlighted_timespan:hover {
  background-color: #90ee90;
}
